<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DuckTaleSolutionTask</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link href="~/lib/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet" />
        <link href="~/lib/bootstrap/dist/css/bootstrap-datatable4.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/site.css" />

    </environment>
  
</head>
<body>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        <hr />
       
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/jquery/dist/jquery-datatable.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap-datatable.min.js"></script>
        <script src="~/js/PageScript/StudentDetailScript.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/sweetalert.js"></script>
    </environment>
   

    @RenderSection("Scripts", required: false)
</body>
</html>
